.forwardsPath, .backwardsPath {
    transition: fill 0.5s ease-out; 
}

.svg:hover .forwardsPath {
    fill: var(--minimise-yellow-colour);
}

.svg:hover .backwardsPath {
    fill: var(--exit-red-colour);
}