/* Website Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;500;700&display=swap');

/* Global Variables */
:root {
    /* Colour Variables */
    --light-blue-colour: rgb(38, 167, 173);
    --dark-blue-colour: rgb(9, 35, 44);
    --highlight-accent-colour: rgb(213, 251, 255);
    --exit-red-colour: rgb(239, 109, 92);
    --minimise-yellow-colour: rgb(246, 191, 72);
    --expand-green-colour: rgb(93, 196, 80);

    /* Font Variables */
    --page-title-text-size: 3rem;
    --section-title-text-size: 2.5rem;
    --section-subtitle-text-size: 2rem;
    --section-small-title-text-size: 1.3rem;
    --description-text-size: 1.1rem;
    --description-small-text-size: 0.9rem;
}

/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Element Styles */
::-webkit-scrollbar-track {
    background-color: linear-gradient(180deg, #09232C 0%, #0F2128 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo', sans-serif;
    color: var(--light-blue-colour);
}

h1 {
    font-size: var(--page-title-text-size);
}

h2 {
    font-size: var(--section-title-text-size)
}

h3 {
    font-size: var(--section-subtitle-text-size)
}

h4 {
    font-size: var(--section-small-title-text-size);
}

p {
    font-size: var(--description-text-size);
}

/* Global Button Styles */
.buttonStyle {
    padding: 0.75rem 1.25rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 12px;
    text-decoration: none;
    overflow: hidden; 
    white-space: nowrap; 
    transition: all 0.3s ease;
}

.buttonStyle:hover {
    border-radius: 0;
}

.buttonStyle span {
    display: inline-block;
    position: relative;
    animation: textExit 0.3s forwards;
}

.buttonStyle:hover span {
    animation: textEnter 0.3s forwards;
}

@keyframes textEnter {
    0%, 100% { 
        transform: translateX(0);
        visibility: visible; 
    }

    33% {
        transform: translateX(150%);
        visibility: hidden;
    }
    
    66% { 
        transform: translateX(-150%); 
        visibility: hidden;
    }
}

@keyframes textExit {
    0%, 100% { 
        transform: translateX(0);
        visibility: visible; 
    }

    33% {
        transform: translateX(150%);
        visibility: hidden;
    }
    66% { 
        transform: translateX(-150%); 
        visibility: hidden;
    }
}

.buttonDark {
    color: var(--light-blue-colour);
    border: 3px solid var(--light-blue-colour);
    background-color: var(--dark-blue-colour);
    cursor: pointer;
}

.buttonDark:hover {
    color: var(--highlight-accent-colour);
    border-color: var(--highlight-accent-colour);
}

.buttonLight {
    color: var(--dark-blue-colour);
    border: 3px solid var(--dark-blue-colour);
    background: var(--light-blue-colour);
}

.buttonLight:hover {
    background-color: var(--highlight-accent-colour);
}

.wrapper {
    padding: 0 3.75rem;
    width: 1440px;
}

@media (max-width: 500px) {
    .wrapper {
        padding: 0 2.75rem;
        width: 1440px;
    }
}