/* Website Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;500;700&display=swap');

/* Global Variables */
:root {
    /* Colour Variables */
    --light-blue-colour: rgb(38, 167, 173);
    --dark-blue-colour: rgb(9, 35, 44);

    /* Font Variables */
    --page-title-text-size: 3rem;
    --section-title-text-size: 3rem;
    --section-subtitle-text-size: 2.5rem;
    --description-text-size: 1.1rem;
}

/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Exo', sans-serif;
    color: var(--light-blue-colour);
}

h1 {
    font-size: var(--page-title-text-size);
}

h2 {
    font-size: var(--section-title-text-size)
}

h3 {
    font-size: var(--section-subtitle-text-size)
}

p {
    font-size: var(--description-text-size);
}

.buttonStyle {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 20px;
    text-decoration: none;
}

.wrapper {
    padding: 0 3.75rem;
    width: 1440px;
}

