.downloadItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2.5rem 0;
}

.downloadItem p {
    width: 25ch;
}

.downloadItem button {
    align-self: center;
    color: var(--light-blue-colour);
    border: 3px solid var(--light-blue-colour);
    background-color: var(--dark-blue-colour);
    cursor: pointer;
}