.downloadItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 2.5rem 0;
}

.downloadItem p {
    width: 25ch;
}

.downloadItem button {
    align-self: center;
    cursor: pointer;
}

@media (max-width: 380px) {
    .downloadItem p {
        width: 100%;
    }
}