/* General Styles */
.textSection {
    background: linear-gradient(180deg, #09232C 0%, #0F2128 100%);
    display: flex;
    justify-content: center;
}

.textSectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textSectionText {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    gap: 1.25rem;
}

.textSectionText > p {
    width: 55ch;
}

.windowCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 5rem 0 8rem 0;
}

/* Hero Section Styles */
.heroImage {
    width: 100%;
    height: 900px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 10rem;
    padding-left: 5rem;
    gap: 1.5rem;
}

.heroContent h1 {
    width: 27ch;
}

.heroContent p {
    width: 60ch;
}

.heroButtons {
    display: flex;
    gap: 1rem;
}

.heroButtonDark {
    color: var(--light-blue-colour);
    border: 3px solid var(--light-blue-colour);
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    transition: all 0.3s ease;

}

.heroButtonDark:hover {
    color: var(--highlight-accent-colour);
    border-color: var(--highlight-accent-colour);
}

/* Downloads Section Styles */
.downloadCardsContainer {
    display: flex;
    gap: 3rem;
    padding: 3rem 0 8rem 0;
    flex-wrap: wrap;
    justify-content: center;
}

/* Transition Sections Styles */
#transitionSection1 {
    width: 100%;
    height: 512px;
    background-image: url("/transition-background-1.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#transitionSection2 {
    width: 100%;
    height: 512px;
    background-image: url("/transition-background-2.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

@media (max-width: 1100px){
    .heroContent {
        padding-bottom: 10rem;
        padding-left: 0rem;
    }
    .heroContent h1 {
        width: 100%;
    }
}

@media (max-width: 824px){
    .heroContent p {
        width: 100%;
    }
}

@media (max-width: 775px) {
    .textSectionText > p {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #musicButton {
        margin-top: 3rem;
    }
    #musicWindowCardsContainer {
        padding: 5rem 0 5rem 0;
    }
}

@media (max-width: 360px) {
    .heroButtons {
        flex-direction: column;
        align-items: flex-start;
    }
    .heroContent h1 {
        font-size: 2.75rem;
    }
    .textSectionContent {
        margin-top: 2rem;
    }
}